<IfModule mod_headers.c>
  Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive On

  # HTML: kort, zodat updates snel zichtbaar zijn
  ExpiresByType text/html "access plus 5 minutes"

  # CSS/JS: langer
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
  ExpiresByType text/javascript "access plus 7 days"

  # Images: lang
  ExpiresByType image/png "access plus 30 days"
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/svg+xml "access plus 30 days"
  ExpiresByType image/webp "access plus 30 days"
  ExpiresByType image/x-icon "access plus 30 days"
</IfModule>

<IfModule mod_headers.c>
  # Extra zekerheid als Expires niet werkt
  <FilesMatch "\.(css|js|png|jpg|jpeg|svg|webp|ico)$">
    Header set Cache-Control "public, max-age=604800, immutable"
  </FilesMatch>

  <FilesMatch "\.html$">
    Header set Cache-Control "public, max-age=300"
  </FilesMatch>
</IfModule>

<IfModule mod_headers.c>

  # Clickjacking bescherming
  Header always set X-Frame-Options "SAMEORIGIN"

  # MIME sniffing uitzetten
  Header always set X-Content-Type-Options "nosniff"

  # Referrer policy
  Header always set Referrer-Policy "strict-origin-when-cross-origin"

  # Basic Content Security Policy (veilig maar niet te streng)
  # old Header always set Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline';"
  #Header always set Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self'; script-src 'self'; base-uri 'self'; object-src 'none'; frame-ancestors 'self';"
  Header always set Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self'; script-src 'self'; base-uri 'self'; object-src 'none'; frame-ancestors 'self';"


</IfModule>
